@font-face {
	font-family: "DotGothic";
	src: url(../fonts/DotGothic16-Regular.ttf);
}

html {
	height: 100%;
	font-family: DotGothic;
}

body {
	height: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#lottie {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	text-align: center;
	opacity: 1;
}

#content_container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.regulatory_info {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.regulatory_icon {
	font-size: 2500%;
}

.regulatory_message {
	width: 100%;
	font-size: 400%;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 10%;

	font-weight: 900;
	text-shadow: 0 1px 0 whitesmoke;
}
