@import url("./all_page.css");
html {
	background-color: #d20303;
}

body {
	height: 100%;
}

.icon_and_time_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.waiting_time_display {
	height: 100%;
	font-size: 300%;
	text-align: center;
}

.waiting_time {
	margin-top: 20px;
}
