html {
	background-color: #d20303;
}

body {
	height: 100%;
}

.regulatory_info {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.regulatory_icon {
	height: 100%;
	font-size: 2000%;
}

.regulatory_message {
	height: 100%;
	font-size: 300%;
	text-align: center;
}
